body {
    height: 100%;
    background-image: linear-gradient(
        to bottom,
            #042A38 0%,
            /* Stronger color at the top */
            #042A38 50%,
            /* Transition to the second color */
            #B32442 100%
            /* Second color continues to the bottom */
    );
}

html {
    height: 100%;
}

span {
    color: #B32442;
}

a {
    color: #B32442;
    text-decoration: none;
}

#title {
    display: inline-block;
}

.type-title {
    margin-left: 20%;
    margin-top: 16%;
    color: white;
    overflow: hidden;
    border-right: .10em solid transparent;
    white-space: nowrap;
    font-family: "Robot", sans-serif;
    font-weight: 600;
    font-size: 2.8em;
    font-style: normal;
    width: 0;
    animation:
        typing 1.8s steps(30, end) forwards,
        blink 0.9s infinite;
}

.fade-in {
    margin-left: 20%;
    margin-right: 20%;
    color: #F7F5EB;
    white-space: initial;
    font-family: "Robot", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    font-style: normal;
    animation:
        fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    54% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: white;
    }

    to {
        border-color: transparent;
    }
}