body {
    height: 100%;
    background: url('./losangeles.jpg') no-repeat fixed;
    background-size: cover;
    font-family: "Robot", sans-serif;
}

html {
    height: 100%;
}

span {
    color: #FFAF20;
}

a {
    color: #FFAF20;
    text-decoration: none;
}

li {
    font-weight: 200;
    font-size: 1.2em;
}

p {
    font-weight: 200;
    font-size: 1.2em;
}

.card {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 3%;
    overflow: scroll;
    background: white;
    border-radius: 25px;
    border-width: 30px;
    border-color: #FFAF20;
}

.type-title {
    color: #10455B;
    border-right: .10em solid transparent;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.6em;
    font-style: normal;
    width: 80%;
}

.fade-in {
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    white-space: initial;
    font-family: "Robot", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    font-style: normal;
    animation:
        fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    54% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
